.close {
  position: absolute;
  top: 15px;
  right: 5%;
  background-color: transparent;
  font-size: 50px;
  color: #f05859;
}

.close:hover,
.close:active {
  color: beige;
}

.container {
  background-color: white;
  width: 100vw;
  max-width: 100vh;

  img {
    display: block;
    width: 100%;
  }
}
