@import 'https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap';

// Fonts

$playfair: 'Playfair Display', serif;
$poppins: 'Poppins', sans-serif;
$oxygen: 'Oxygen Mono', monospace;

// Weights

$regular: 400;
$medium: 500;
$bold: 700;
