.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #ececec;
  border-bottom-right-radius: 15px;

  p {
    font-size: 22px;
    width: 80%;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 50px;
    color: #f55;
    width: 20%;
    height: 50px;
    border: 1px solid #ececec;
    border-bottom: none;
    border-radius: 0 15px 15px;
  }
}
