.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  color: #333;
  height: 125px;

  svg {
    font-size: 60px;
  }
}

.button:disabled {
  background-color: #2b2743;
  color: white;
}
