@use '/src/assets/sass/abstracts/' as *;

.description {
  background-color: $white-100;
  font-size: 14px;
  font-family: $roboto;
  font-weight: $light;
  padding: 20px 2.5%;

  h2 {
    font-size: 24px;
    font-family: $crimson;
    font-weight: $regular;
    padding-bottom: 20px;
    border-bottom: 2px solid $white-60;
    margin-bottom: 20px;
  }
}

.image {
  display: block;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
}

@include media(669px) {
  .description {
    @include center-contents(true, false);

    h2 {
      font-size: 32px;
    }
  }

  .info {
    width: 50%;
  }

  .image {
    width: 50%;
    aspect-ratio: 1.25;
  }
}

@include media(1024px) {
  .description {
    padding-bottom: 80px;
  }

  .info {
    width: 60%;
  }

  .image {
    width: 40%;
  }
}
