@use './assets/sass/abstracts/' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: $poppins;
  font-size: 18px;
  font-weight: $medium;
  border: none;
}

body {
  font-family: $poppins;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec33;
  backdrop-filter: blur(5px);
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
